.auth {
    /*vertical-align: middle;*/
    display: inline-block;
    text-align: right;
    vertical-align: baseline;
    line-height: 70px;
}

.auth__button {
    border: 1px solid #8d8d8d;
    border-radius: 35px;
    cursor: pointer;
    background-color: #ffffff;
    line-height: 35px;
    margin: 0px 3px;
}

.auth__button:hover {
    background-color: #3487db;
    border-color: #3487db;
    color: #ffffff;
}