.feature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 50%;
}

.feature__cell {
    margin: 0 5px;
}


.feature__title {
    margin: 0;
}

.feature__description {
    margin-top: 5px;
    /*padding-top: 5px;*/
}