.course-card {
    width: 350px;
    heigth: 445px;
    background-color: #ffffff;
}

.course-card__content {
    padding: 0 10px;
}

.course-card__start-date {
    color: #a9aaad;
}

.course-card__extra-content {
    padding: 0 10px 5px;
}

.course-card__extra-content_bold {
    font-weight: bold;
}